[Desktop Entry]
Name=DVKBUNTU-Flammes-Dorees
Name[fr]=DVKBUNTU-Flammes-Dorees

X-KDE-PluginInfo-Name=DVKBUNTU-Flammes-Dorees
X-KDE-PluginInfo-Author=Steeve Le Gal
X-KDE-PluginInfo-Email=toulibre@gmail.com
X-KDE-PluginInfo-License=LGPLv3
