[Desktop Entry]
Name=DVKBuntu-Light
Name[fr]=DVKBuntu-Light

X-KDE-PluginInfo-Name=DVKBuntu-Light
X-KDE-PluginInfo-Author=Paul WOISARD
X-KDE-PluginInfo-Email=paulwoisard@gmail.com
X-KDE-PluginInfo-License=LGPLv3
