[Desktop Entry]
Name=DVKBUNTU-Fumee-Abstraite
Name[fr]=DVKBUNTU-Fumee-Abstraite

X-KDE-PluginInfo-Name=DVKBUNTU-Fumee-Abstraite
X-KDE-PluginInfo-Author=Steeve Le Gal
X-KDE-PluginInfo-Email=toulibre@gmail.com
X-KDE-PluginInfo-License=LGPLv3
