[Desktop Entry]
Name=Handy Open Source
Name[fr]=Handy Open Source


X-KDE-PluginInfo-Name=DVKBUNTU-Handy-Open-Source
X-KDE-PluginInfo-Author=Paul WOISARD
X-KDE-PluginInfo-Email=paulwoisard@gmail.com
X-KDE-PluginInfo-License=LGPLv3
