[Desktop Entry]
Name=DVKBUNTU-neon
Name[fr]=DVKBUNTU-neon

X-KDE-PluginInfo-Name=DVKBUNTU-neon
X-KDE-PluginInfo-Author=Steeve Le Gal
X-KDE-PluginInfo-Email=toulibre@gmail.com
X-KDE-PluginInfo-License=LGPLv3
