Source: dvkbuntu-hos-wallpaper
Section: misc
Priority: optional
Maintainer: Paul WOISARD <paulwoisard@gmail.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://discord.gg/FtsNjjC

Package: dvkbuntu-hos-wallpaper
Architecture: any
Depends: 
Description: DVKBUNTU Handy Open Source Wallpaper
 <insert long description, indented with spaces>
