[Desktop Entry]
Name=DVKBUNTU-Etoiles-Filantes
Name[fr]=DVKBUNTU-Etoiles-Filantes

X-KDE-PluginInfo-Name=DVKBUNTU-Etoiles-Filantes
X-KDE-PluginInfo-Author=Steeve Le Gal
X-KDE-PluginInfo-Email=toulibre@gmail.com
X-KDE-PluginInfo-License=LGPLv3
