[Desktop Entry]
Name=DVKBUNTU-Eclipse
Name[fr]=DVKBUNTU-Eclipse

X-KDE-PluginInfo-Name=DVKBUNTU-Eclipse
X-KDE-PluginInfo-Author=Paul WOISARD
X-KDE-PluginInfo-Email=paulwoisard@gmail.com
X-KDE-PluginInfo-License=LGPLv3
