[Desktop Entry]
Name=DVKBUNTU-Logo
Name[fr]=DVKBUNTU-Logo

X-KDE-PluginInfo-Name=DVKBUNTU-Logo
X-KDE-PluginInfo-Author=Paul WOISARD
X-KDE-PluginInfo-Email=paulwoisard@gmail.com
X-KDE-PluginInfo-License=LGPLv3
