[Desktop Entry]
Name=Easy menu
Exec="/usr/share/dvkbuntu-easy-menu-qt" %U
Terminal=false
Type=Application
Icon=dvkbuntu-easy-menu
StartupWMClass=Easy menu
Comment=Easy menu est un menu ayant pour but de simplifier l’ensemble des usages classiques d’un ordinateur pour les personne rencontrant des difficultés avec l’informatique.
Categories=Utility;
