[Desktop Entry]
Name=DVKBUNTU-Rose-Rosee
Name[fr]=DVKBUNTU-Rose-Rosee

X-KDE-PluginInfo-Name=DVKBUNTU-Rose-Rosee
X-KDE-PluginInfo-Author=Steeve Le Gal
X-KDE-PluginInfo-Email=toulibre@gmail.com
X-KDE-PluginInfo-License=LGPLv3
