[Desktop Entry]
Name=DVKBUNTU-Regard
Name[fr]=DVKBUNTU-Regard

X-KDE-PluginInfo-Name=DVKBUNTU-Regard
X-KDE-PluginInfo-Author=Steeve Le Gal
X-KDE-PluginInfo-Email=toulibre@gmail.com
X-KDE-PluginInfo-License=LGPLv3
