Source: dvkbuntu-fumee-abstraite
Section: misc
Priority: important
Maintainer: Paul WOISARD <paulwoisard@gmail.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://discord.gg/FtsNjjC

Package: dvkbuntu-fumee-abstraite
Architecture: any
Depends: 
Description: DVKBUNTU Wallpaper Fumée Abstraite
 <insert long description, indented with spaces>
