[Desktop Entry]
Name=DVKBUNTU-Fire
Name[fr]=DVKBUNTU-Flamme


X-KDE-PluginInfo-Name=DVKBUNTU-Flamme
X-KDE-PluginInfo-Author=Paul WOISARD
X-KDE-PluginInfo-Email=paulwoisard@gmail.com
X-KDE-PluginInfo-License=LGPLv3
