Source: dvkbuntu-reglage-chromium
Section: misc
Priority: important
Maintainer: Paul WOISARD <paulwoisard@gmail.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://www.dvkbuntu.org/

Package: dvkbuntu-reglage-chromium
Architecture: any
Depends: dvkbuntu-page-acceuil
Description: DVKBUNTU reglages Chromium.
 <insert long description, indented with spaces>
