Package: dvkbuntu-vocalfly
Version: 4.1-1
Architecture: amd64
Maintainer: Paul WOISARD <paulwoisard@gmail.com>
Installed-Size: 2129
Depends: kubuntu-desktop, dvkbuntu-menu-acceuil, latte-dock, dvkbuntu-plasma-theme-v2, libqt5multimedia5, libqt5qml5, libqt5core5a, libqt5widgets5, espeak-ng, dvkbuntu-gtk-theme, python3-pip, libttspico-utils, alsa-utils
Replaces: kwin-data, latte-dock, plasma-desktop-data, plasma-widgets-addons, plasma-workspace
Section: misc
Priority: optional
Homepage: https://discord.gg/FtsNjjC
Description: DVKBUNTU Vocal Software
 <insert long description, indented with spaces>
