[Desktop Entry]
Name=DVKBUNTU-Voie-Lactee
Name[fr]=DVKBUNTU-Voie-Lactee

X-KDE-PluginInfo-Name=DVKBUNTU-Voie-Lactee
X-KDE-PluginInfo-Author=Steeve Le Gal
X-KDE-PluginInfo-Email=toulibre@gmail.com
X-KDE-PluginInfo-License=LGPLv3
