[Desktop Entry]
Name=DVKBUNTU-Vortex
Name[fr]=DVKBUNTU-Vortex

X-KDE-PluginInfo-Name=DVKBUNTU-Vortex
X-KDE-PluginInfo-Author=Steeve Le Gal
X-KDE-PluginInfo-Email=toulibre@gmail.com
X-KDE-PluginInfo-License=LGPLv3
