Source: dvkbuntu-fetch
Section: misc
Priority: important
Maintainer: Paul WOISARD <paulwoisard@gmail.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://www.dvkbuntu.org/

Package: dvkbuntu-fetch
Replaces: base-files
Architecture: any
Depends: linuxlogo, neofetch, screenfetch
Description: DVKBUNTU Affichage Logo dans la Konsole
 <insert long description, indented with spaces>
